body {
    background-color:#ffffff;
    color: #3e3e3e;
    }

button{
background-image: url(/enter-button.png);
background-repeat: no-repeat;
background-position: 50% 100%;
background-size: cover;
}