body {
<<<<<<< HEAD
    background-color:#3e3e3e;
    color: #ffffff;
=======
    background-color:#ffffff;
    color: #3e3e3e;
>>>>>>> b9b1758df0323688cd776fce1b5c7c885e47a2a7
    }

button{
background-image: url(/enter-button.png);
background-repeat: no-repeat;
background-position: 50% 100%;
background-size: cover;
}